<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <link href="../static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <script src="../static/bootstrap/jquery/jquery.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>

    <script src="../static/bootstrap/js/bootstrap-collapse.js"></script>
    <style type="text/css"></style>
    <link href="../static/bootstrap/css/index_css.css" rel="stylesheet">
</head>
<body>

<p>首页页面</p>


</body>
</html>